@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-size: 55px;
	color: #1730c0;
}

.player-spot {
	@apply flex flex-col items-center justify-evenly h-1/2 w-full font-kantumruy;
}

.player-name {
	@apply text-slate-800;
}

.player-score {
	@apply text-slate-800 font-bungee;
}

.input-styling {
	@apply w-5/6 appearance-none rounded-md placeholder-red-600 text-red-600 bg-slate-400 text-center hover:bg-slate-500 focus:placeholder-transparent focus:outline-none;
}

.active-player {
	@apply text-pink-400 bg-pink-400;
}

.inactive-player {
	@apply text-black;
}

.sound-switch {
	display: none;
}

.flip-box {
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
	@apply w-full h-full bg-transparent cursor-pointer;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
	padding-top: 52.65%;
	transition: transform 0.8s;
	transform-style: preserve-3d;

	@apply relative w-full h-full text-center;
}

/* Do a horizontal flip*/
.flipped .flip-box-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
	backface-visibility: hidden;
	border-radius: 0.375rem;
	@apply absolute top-0 left-0 w-full h-full shadow-md;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/20/%22Squares_of_six_different_sizes_in_a_repetitive_pattern%22.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@apply text-white flex justify-center items-center;
}

/* Style the back side */
.flip-box-back {
	transform: rotateY(180deg);

	@apply bg-black rounded-md text-white flex justify-center items-center;
}
